function createProject(){
    projectDir="~/projects/"
    cd ~/projects/project-initialization/
    source .myvenv/bin/activate
    python create.py $1
    cd $projectDir
    mkdir $1
    cd ./$1
    git init
    touch README.md
    touch .gitignore
    touch .env
    touch requirements.txt
    python -m venv .myvenv
    echo '.env' >> .gitignore
    echo '.myvenv' >> .gitignore
    git add .
    git commit -m "first commit"
    git remote add origin https://github.com/MAnders333/$1.git
    git push -u origin master
}

function financials(){
    cd ~/projects/financial-analysis/
    source env/bin/activate
    python3 src/financials.py $1 
}

function apply(){
    cd ~/Documents/Job\ Applications/
    curr_date=$(date +%Y | cut -f2 -d"0")$(date +%m)$(date +%d)
    mkdir $curr_date\_$1
    cp ./0_cover_letter_templates/191209_$2\_$3\_template.docx ./$curr_date\_$1/$1.docx
    cp ./0_cv_templates/191209\_$2\_$3.pdf ./$curr_date\_$1/
    cd ./$curr_date\_$1
    open $1.docx
}
